# dependencies
node_modules/
.pnpm-store/

# build output
dist/
*.tsbuildinfo

# env
.env
.env.local
.env.*.local

# logs
*.log
npm-debug.log*

# editor / OS
.DS_Store
.idea/
.vscode/

# coverage
coverage/

# docker volumes
.volumes/
